@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600;700&family=Carter+One&family=Caveat:wght@500;600;700&family=Kanit:ital,wght@0,400;0,500;0,700;1,400;1,600&family=Nabla&family=Righteous&display=swap");

:root{
  --gradient-1: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
  
  
  
}



* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  
}
body{
  min-height: 100vh;
  background:linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}


.App {
  
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  background:linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
}
.Header-Wrapper{
  display:flex;
  justify-content: center  ;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  margin-top: 40px;
  
  
}

.logo{
  margin-top: 20px;
 margin-bottom: 40px;
 font-family: "Nabla", cursive;
 font-size: 60px;
}

.searchBar{
  display: flex;
  
  justify-content: center;
  text-align: center;
}

.searchBar input {
  width: 600px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
}

.searchBar button{
  border-radius: 10px;
  border-style: none;
}

.BlockList{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.BlockList ul{
  list-style: none;
  margin: 10px;
  padding: 20px;
}
.BlockList li{
  list-style: none;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  border-style: inset;
}

.Block{
  background-color: #1d3557;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #e56b6f;

  

}
.Block table{
  padding: 10px;
  margin: 10px;
  border-spacing: 20px;
}
.Block tr{
  padding: 20px;
  margin-top: 10px;
  font-weight: bold;
  
}

.BlockDetail{
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.BlockDetail table{
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-spacing: 20px;
}

.Transactions-text{
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.BlockDetail h3{
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.BlockDetail Link{
  text-decoration: none;
}

 
.Transaction-Detail{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
  padding: 5px;
}


.AddressInfo{
  display: grid;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.AddressInfo table{
  justify-content: center;
  margin-top: 30px;
  border-spacing: 20px;
  border: 3px seashell;
  font-family: 'Courier New', Courier, monospace;
  background-color: #1d3557;
  /* background: linear-gradient(90deg, hsla(52, 82%, 52%, 1) 0%, hsla(1, 92%, 47%, 1) 100%); */
  /* background: linear-gradient(90deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%); */

  border-radius: 20px;
  color: #e76f51;
  transition: 0.4s;


}

.AddressInfo table:hover{
  transform: scale(1.02);
}
.AddressInfo tr:hover{
  transform: scale(1.001);
  color: #e56b6f;
}

.link{
  text-decoration: none;
  color: #ffd166;
  font-weight: 700;
  font-size: large;
  font-family: sans-serif;
  margin: 10px;
  transition: 0.6s;
}


.Transaction-List{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.Transaction-List p{
  
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px;
  color: #fff3b0;

}


